<p>Olá,</p>

<p>
  Há respostas disponíveis para a o pedido de cotação "<%= @quotation.title %>".
</p>

<p>
  Para ver os detalhes, acesse:
  <a href="<%= quotation_url(@quotation) %>"><%= @quotation.title %></a>
</p>
