<%= render 'customers/shared/navbar', titulo: "Realizar nova cotação" %>

<div class="container mx-auto py-6 px-4">
  <!-- Conteúdo principal da home do cliente -->
  <div class="bg-white shadow-lg rounded-xl p-6 mb-8">
    <%= render 'quotations/form', quotation: @quotation %>
  </div>
</div>
