<%= render 'clientes/shared/navbar', titulo: "Realizar nova cotação" %>

<div class="container mx-auto py-6 px-4">
  <!-- Main content of the customer's home page -->
  <div class="bg-white shadow-lg rounded-xl p-6 mb-8">
    <%= render 'quotations/form', quotation: @quotation %>
  </div>
</div>
